.cast-vote-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

.cast-vote-banner {
  text-align: center;
  margin-bottom: 20px;
}

.cast-vote-title {
  font-size: 24px;
  color: #333;
}

.cast-vote-subtitle {
  font-size: 16px;
  color: #666;
}

.candidates-list p {
  font-size: 14px;
  color: #666;
}

.candidates-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.candidate-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.picture-frame {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.picture-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.candidate-info {
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex-grow: 1;
}

.candidate-info label {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  display: inline-block;
  width: 200px; /* Adjust the width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.submit-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.submit-section button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.success-message {
  font-size: 14px;
  color: green;
  margin-top: 10px;
}
.already-voted{
  text-align: center;
  color: red;
}
.already-voted-thanks{
  text-align: center;
  color: black;
}