.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.logo {
  width: 150px;
  height: auto;
}

.system-text {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  margin-bottom: 1rem;
}

input {
  width: 300px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

.hidden-label {
  /* display: none; */
}

.submit-button {
  padding: 0.75rem 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forgot-password-button {
  padding: 0.5rem;
  font-size: 0.875rem;
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.forgot-password-button:hover {
  text-decoration: none;
}