/* SetTimeDatePage.css */
.set-time-date-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.label {
  font-weight: bold;
  margin-bottom: 10px;
}

.date-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.date-input-group input[type="date"] {
  margin: 0 10px;
}

.time-input-group {
  display: flex;
  align-items: center;
}

.time-input-group input[type="time"] {
  margin: 0 10px;
}
